<!DOCTYPE html>
<html>

    <title>Call for Presentations</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Open Infrastructure Summit Shanghai 2019 | Call for Presentations" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Submit your presentation, panel, or workshop to the Open Infrastructure Summit. Topics range from use cases including Machine Learning, 5G/Edge Computing/NFV, CI/CD, Containers, Hybrid Cloud, and more! " />
    <meta property="og:title" content="Open Infrastructure Summit Call for Presentations" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cfp.openstack.org" />
    <link rel="image_src" href="https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/www-assets-prod/Uploads/Summit-Logo.png" type="image/png" />
    <meta property="og:image" content="http://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/www-assets-prod/Uploads/Summit-Logo.png" />
    <meta property="og:image:secure_url" content="https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/www-assets-prod/Uploads/Summit-Logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="135" />
    <meta property="og:image:width" content="240" />
    <meta property="og:description" content="Submit your presentation, panel, or workshop to the Open Infrastructure Summit. Topics range from use cases including Machine Learning, 5G/Edge Computing/NFV, CI/CD, Containers, Hybrid Cloud, and more!" />
    <meta property="og:site_name" content="OpenStack" />
    <meta property="og:locale" content="en_US" />
    <meta property="fb:app_id" content="209869746011654" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@openstack" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <head>
        <link rel="shortcut icon" href="#" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>call for presentations</title>
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
