<!DOCTYPE html>
<html>

    <title>Speaker Management</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="FnTech | Speaker Management" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Submit your presentation, panel, or workshop." />
    <meta property="og:title" content="FnTech Speaker Management" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://speakermgmt.fntech.com" />
    <link rel="image_src" href="https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/images-fn-staging/idp-logo.png" type="image/png" />
    <meta property="og:image" content="https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/images-fn-staging/idp-logo.png" />
    <meta property="og:image:secure_url" content="https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/images-fn-staging/idp-logo.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:height" content="50" />
    <meta property="og:image:width" content="220" />
    <meta property="og:description" content="Submit your presentation, panel, or workshop." />
    <meta property="og:site_name" content="FnSpeakers" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@fntech" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <head>
        <link rel="shortcut icon" href="#" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Speaker Management</title>
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
